@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply rounded-full border border-stone-200
    px-4 py-2 text-sm transition-all duration-300
    placeholder:text-stone-400 focus:outline-none focus:ring 
    md:px-6 md:py-3;
  }

  .loader {
    width: 45px;
    height: 45px;
    border: 6px solid #333; /* Adjust border size and color */
    border-top: 6px solid transparent; /* Make the top border transparent */
    border-radius: 50%; /* Create a circle with border-radius */
    animation: spin 1s linear infinite; /* Add a spinning animation */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
